body {
  margin: 0;
  display: flex;
  font-family: Arial;
  background: #0e0e14;
  color: white;
}

/* SIDEBAR */
.sidebar {
  width: 200px;
  background: #1a1a22;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar li {
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}

/* MAIN */
.main {
  flex: 1;
  padding: 20px;
}

/* SONG CARD */
.song {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  cursor: pointer;
  background: #1a1a22;
  padding: 10px;
  border-radius: 8px;
}

.song img {
  width: 50px;
  border-radius: 6px;
}
body {
  background-color: #0a0a0f;
}
/* PLAYER */
.player {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #111;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.player img {
  width: 50px;
  border-radius: 6px;
}

button {
  cursor: pointer;
}